<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Dear {{ user.username }},</p>

    <p>
      To reset your password click on the following link: <br>
        <br>
        <a href="{{ url_for('auth.reset_password', token=token, _external=True, _scheme='https') }}">Create an account</a> <br>
        <br>
        Alternatively, copy and paste this link in the address bar: <br>

        <pre>{{ url_for('auth.reset_password', token=token, _external=True, _scheme='https') }}</pre>
        <br>
        If you have not requested a password reset simply ignore this message.
    </p>

    <p>
        Sincerely,
        <br>
        D.A.R.V.I.S. Team
    </p>
</body>
</html>